/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

body {
  margin: 0;
  font-family: "Quicksand", BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ddd6f3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #faaca8,
    #ddd6f3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #faaca8,
    #ddd6f3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  min-width: 400px;
  padding: 10px;
  background-color: #ff6666;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 30px;
  box-shadow: -10px -15px 0px 0px rgba(100, 100, 100, 0.1);
  color: white;
}
/* Header */
.container .header {
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
}
.container .header .app-name {
  line-height: 0.3;
  font-size: 2.6rem;
}

.container .header .description {
  font-size: 1rem;
  padding-bottom: 12px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.container .content {
  margin: 0 -0.6rem;
}

.container .content .todo-list li {
  background-color: rgba(252, 227, 227, 0.3);
  padding: 3px 4rem;
  margin-bottom: 4px;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
